<div class="main-div">
    <div class="side-menu">
        <div class="header" style="display: flex;">
            <div class="logo">
                <img mat-card-image class="imgs" src="D:/employee-details-management-ui/src/app/img/logo.png">
            </div>
            <h1 class="username">{{username}}</h1>
        </div>
        <div class="white-line"></div>
        <div class="menu-list">
                <div *ngFor="let item of menuItem">
                    <div class="menu-button">
                        <button class="m-list-button" (click)="menuButtonClick($event)">{{item}}</button>
                    </div>
                </div>
        </div>
    </div>
    <div class="body">
        <div class="top-body">
            <input mat-input class="search-input">
            <button mat-button class="logout-button" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
        <div class="center-body">
            <div *ngIf="isEmployee" class="department-div">
                <div class="department-card" *ngFor="let employee of employees">
                    <h1 class="department-lable">{{employee.name}}</h1>
                    <h1 class="department-lable">{{employee.age}}</h1>
                    <h1 class="department-lable">{{employee.dateOfJoining}}</h1>
                    <h1 class="department-lable">{{employee.departmentId}}</h1>
                </div>
            </div>
            <div *ngIf="isDepartment" class="department-div">
                <div class="department-card" *ngFor="let department of departments">
                    <h1 class="department-lable">{{department.departmentName}}</h1>
                    <h1 class="department-lable">{{department.departmentHead}}</h1>
                    <h1 class="department-lable">{{department.createdDate}}</h1>
                    <button mat-button (click)="editDepartment(department)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button (click)="deleteDepartment(department)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="isDepartment">
            <button mat-button class="add-d-button" (click)="addDepartment()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div *ngIf="isEmployee">
            <button mat-button class="add-d-button" (click)="addEmployee()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>

